#navtext{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}
body{
    font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
#company_img {
    filter: grayscale(1) opacity(0.8);
    /* -webkit-filter: grayscale(1); */
    -webkit-transition : all .1s ease;
}

#company_img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
hr {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(224, 228, 236);
  }
#rating{
    width: 14px; 
    color: orange;
}